<header>
    <div class="logo">
      <a href="#"
        ><img src="/logo-long-da.svg" alt="logo" class="logo-img"
      /></a>
    </div>
  </header>
  <nav>
      <div class="container-center">
        <button class="open-nav" id="open"><i class="bi bi-list"></i></button>
        <div class="nav-hamburguer" id="nav">
          <button class="close-menu" id="close"><i class="bi bi-x"></i></button>
          <ul class="nav-list">
            <li class="nav-ul-li"><a href="#">Productos</a></li>
            <li class="nav-ul-li"><a href="#">Servicios</a></li>
            <li class="nav-ul-li"><a href="#">Celebraciones</a></li>
            <li class="nav-ul-li"><a href="#">Promociones</a></li>
            <li class="nav-ul-li"><a href="#">Joyeria</a></li>
          </ul>
        </div>
        <div class="logo-nav-compact">
          <a href="#"
            ><img src="img/logo-long-da.svg" alt="logo" class="logo-img"
          /></a>
        </div>
      <div class="icons-icon-svg">
        <a href="#"><img src="/search.svg" alt="" /></a>
        <a href=""><img src="/favorite.svg" alt="" /></a>
        <a href=""><img src="/cart-shopping.svg" alt="" /></a>
        <a href=""><img src="/user.svg" alt="" /></a>
      </div>
      </div>
  </nav>
