.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* --------------------------------CSS de header img*/
header {
  background-color: #ffffff;
  color: #9e9e9c;
  text-align: center;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}

.logo-img {
  width: 200px;
}

.logo-nav-compact {
  display: none;
}

/* -----------------comienza css de nav ul */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f3;
  padding: 25px;
}

.container-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%; /* Ajusta según lo necesites */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

nav ul li a {
  color: #241f21;
  text-decoration: none;
}

.container-nav {
  grid-area: nav;
}

.icons-icon-svg {
  grid-area: icons;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.icons-icon-svg a {
  width: 20px;
}
.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

li.dropdown {
  margin: 0px 8px 0 0;
  transition: transform 0.3s ease 0s;
  font-size: clamp(12px, 2vw, 15px);
}

nav ul li:hover {
  transform: scale(1.03);
}

nav ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #241f21;
  transition: width 0.3s ease-in-out, left 0.5s ease-in-out;
  transform: translateX(-50%);
}

nav ul li.dropdown:hover::after {
  width: 100%;
}

/* -----------------termina css de nav ul */

nav div.container-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  padding: 20px 0 20px 0;
  font-size: 16px;
  width: 100%;
  max-width: var(--container-nav-max-width);
  grid-area: 1 / 2 / 2 / 6;
  justify-items: end;
}

/* ----------------------icons nav */

/* -----------------css que aun no uso */

/* CSS de hamburguer */

.open-nav,
.close-menu {
  display: none;
}

.logo-img-2-nav {
  display: none;
}

nav .nav-hamburguer.visible {
  opacity: 1;
  visibility: visible;
}
.user-profile {
  position: relative; /* Para poder posicionar el menú desplegable */
  cursor: pointer; /* Cambia el cursor al pasar sobre el perfil */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 50px; /* Tamaño del avatar */
  height: 40px; /* Tamaño del avatar */
  border-radius: 50%; /* Avatar redondo */
  margin-right: 20px; /* Espaciado entre avatar y nombre */
}

.dropdown-menu {
  height: 310px;
  width: 140px;
  position: absolute; /* Posicionamiento absoluto para que se despliegue sobre otros elementos */
  top: 100%; /* Debajo del perfil */
  right: 0; /* Alineado a la derecha */
  background-color: rgba(109, 106, 106, 0.8); /* Fondo semi-transparente */
  color: white; /* Color del texto */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Sombra mejorada */
  border-radius: 4px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  display: block; /* Siempre mostrar, controlaremos visibilidad con Angular */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transición suave */
}

.dropdown-menu.hidden {
  display: none; /* Oculto cuando la clase 'hidden' está presente */
  opacity: 0; /* Hacerlo invisible */
  visibility: hidden; /* Cambiar la visibilidad */
}

.dropdown-menu a {
  color: white; /* Asegura que el texto sea visible */
  text-decoration: none; /* Quita el subrayado */
  display: block; /* Para que el área de clic sea más grande */
  padding: 8px 10px; /* Espaciado interno para opciones */
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efecto de fondo al pasar el ratón */
}

.logout-btn {
  background-color: transparent; /* Botón transparente */
  border: none; /* Sin borde */
  color: red; /* Color del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  padding: 5px 10px; /* Espaciado interno para el botón */
  border-radius: 4px; /* Bordes redondeados para el botón */
  transition: background-color 0.3s ease; /* Efecto de transición suave */
}

.logout-btn:hover {
  background-color: rgba(255, 0, 0, 0.1); /* Cambia el fondo al pasar el ratón */
}







/* Para pantallas pequeñas */
@media (max-width: 1024px) {
  /* Estilo del nav con grid */
  nav .container-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "open-nav logo icons";
    align-items: center;
    justify-items: center;
    background-color: #f5f6f3;
    width: 100%;
    padding: 10px;
  }

  nav {
    padding: 10px;
  }

  header {
    display: none;
  }

  .logo-nav-compact {
    display: block;
    grid-area: logo;
  }

  .icons-icon-svg {
    grid-area: icons;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .icons-icon-svg a {
    width: 20px;
  }

  /* Botón de abrir menú */
  .open-nav {
    display: block;
    grid-area: open-nav;
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  .close-menu {
    display: block;
    grid-area: open-nav;
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  nav .nav-hamburguer {
    opacity: 0;
    visibility: hidden;
  }

  /* Lista del menú hamburguesa */
  div.nav-hamburguer {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 1rem;
    background-color: #ffffff;
    width: 400px;
    z-index: 2000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .overlay.active {
    visibility: visible;
    opacity: 1;
  }

  .nav-hamburguer {
    transform: translateX(-100%); /* Fuera de la vista inicialmente */
    transition: all 0.4s ease;
  }

  .nav-hamburguer.menu-open {
    transform: translateX(0); /* Mueve el menú a su posición */
  }

  ul.nav-list {
    flex-direction: column;
    align-items: start;
    cursor: pointer;
  }

  ul.nav-list li {
    padding: 24px;
    font-size: 22px;
  }

  nav ul li:hover {
    transition: none;
    transform: none;
  }

  nav ul li::after {
    transition: none;
  }
}

/* menu desplegable para desktop */

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 500px;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #241f21;
}

#prueba-fondo{
  width: 100%;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 480px) {
  nav .container-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "open-nav logo icons";
    align-items: stretch;
    justify-items: center;
    background-color: #f5f6f3;
    width: 100%;
    padding: 10px;
  }

  nav {
    padding: 10px;
  }

  header {
    display: none;
  }

  .logo-nav-compact {
    display: block;
    grid-area: logo;
    width: 125px; /* Ajusta el tamaño */
  }

  .icons-icon-svg {
    grid-area: icons;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .icons-icon-svg a {
    width: 20px;
  }

  .icons-icon-svg-a {
    grid-area: icons;
    display: block;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    width: 20px;
    cursor: pointer;
  }

  /* Botón de abrir menú */
  .open-nav {
    display: block;
    grid-area: open-nav;
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  .close-menu {
    display: block;
    grid-area: open-nav;
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  nav .nav-hamburguer {
    opacity: 0;
    visibility: hidden;
  }

  /* Lista del menú hamburguesa */
  div.nav-hamburguer {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 1rem;
    background-color: #ffffff;
    width: 100%; /* Ajustado a 100% para que sea responsive */
    max-width: 400px; /* Añadido para no sobrepasar un tamaño máximo */
    box-shadow: 0 0 0 110vmax rgba(0, 0, 0, 0.15);
  }

  .nav-hamburguer {
    transform: translateX(-100%); /* Fuera de la vista inicialmente */
    transition: all 0.4s ease;
  }

  .nav-hamburguer.menu-open {
    transform: translateX(0); /* Mueve el menú a su posición */
  }

  ul.nav-list {
    flex-direction: column;
    align-items: start;
    cursor: pointer;
  }

  ul.nav-list li {
    padding: 24px;
    font-size: 22px;
  }

  nav ul li:hover {
    transition: none;
    transform: none;
  }

  nav ul li::after {
    transition: none;
  }
}
:root {
  --container-nav-max-width: 1600px;
  --background: 255, 255, 255;
}
