<header>
  <div class="logo">
    <a href="#"><img src="/logo-long-da.svg" alt="Logo" class="logo-img" /></a>
  </div>
</header>

<nav role="navigation">
  <div class="container-center">
    <button class="open-nav" id="open" aria-label="Abrir menú de navegación">
      <i class="bi bi-list"></i>
    </button>

    <div class="nav-hamburguer" id="nav">
      <button class="close-menu" id="close" aria-label="Cerrar menú de navegación">
        <i class="bi bi-x"></i>
      </button>
      <ul class="nav-list">
        <li class="dropdown">
          <a href="#" aria-haspopup="true" aria-expanded="false">Productos</a>
          <div id="dropdown-content" class="dropdown-content">
            <ul>
              <li><a href="#">Subproducto 1</a></li>
              <li><a href="#">Subproducto 2</a></li>
              <li><a href="#">Subproducto 3</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown"><a href="#">Servicios</a></li>
        <li class="dropdown"><a href="#">Celebraciones</a></li>
        <li class="dropdown"><a href="#">Promociones</a></li>
        <li class="dropdown"><a href="#">Nosotros</a></li>
      </ul>
    </div>

    <div class="logo-nav-compact">
      <a href="#"><img src="/logo-long-da.svg" alt="Logo compacto" class="logo-img" /></a>
    </div>

    <div class="icons-icon-svg">
      <a href="#" aria-label="Buscar">
        <img src="/search.svg" alt="Icono de búsqueda" />
      </a>
      <a href="#" aria-label="Favoritos">
        <img src="/favorite.svg" alt="Icono de favoritos" />
      </a>
      <a href="#" aria-label="Carrito de compras">
        <img src="/cart-shopping.svg" alt="Icono de carrito de compras" />
      </a>

      <!-- Mostrar enlace de inicio de sesión si no está autenticado -->
      <a *ngIf="!isLogged()" href="/login" aria-label="Iniciar sesión">
        <img src="/user.svg" alt="Icono de iniciar sesión" />
      </a>

      <!-- Mostrar menú del perfil si el usuario está autenticado -->
      <div *ngIf="isLogged()" class="user-profile" (click)="toggleMenu()">
        <div aria-label="Perfil de Usuario" class="user-info">
          <img [src]="userProfile?.avatar ? '' + userProfile?.avatar : '/default-avatar.png'" 
               alt="Avatar del Usuario" class="user-avatar">
          <p>{{ (userProfile?.firstname || '') + ' ' + (userProfile?.lastname || '') || 'Usuario' }}</p>
        </div>

        <!-- Menú desplegable del perfil -->
        <div [ngClass]="{'dropdown-menu': true, 'hidden': !menuVisible}">
          <div class="user-info">
            <img [src]="userProfile?.avatar ? '' + userProfile?.avatar : '/default-avatar.png'" 
                 alt="Avatar del Usuario" class="user-avatar">
            <p>{{ (userProfile?.firstname || '') + ' ' + (userProfile?.lastname || '') || 'Usuario' }}</p>
          </div>
          <button (click)="logout()" aria-label="Cerrar sesión" class="logout-btn">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</nav>





<!-- <nav>
  <ul>
      <li class="dropdown">
          Productos
          <div class="dropdown-content">
              
              <img src="producto1.jpg" alt="Producto 1">
              <img src="producto2.jpg" alt="Producto 2">
              
          </div>
      </li>
  </ul>
</nav> -->

<!-- 
<button >
  Productos
  <svg
    focusable="false"
    height=" 20"
    class="icon icon--chevron"
    xmlns="http://www.w3.org/2000/svg"
    viewbox=" 0 0 20 20"
    fill="none"
  >
    <path
      d="M5 7.5L10 12.5L15 7.5"
      stroke="currentColor"
      stroke-linecap="round"
    ></path>
  </svg>
</button> -->
