<div class="main-container-categories">
  <div class="container-categories">
    <a href="#" id="category1" class="category">
        <div class="categories-image">
          <img src="/imgtest.webp" alt="">
        </div>
        <div class="title-category">
          <h2>Categoria1</h2>
        </div>
      </a>
    <a href="#" id="category2" class="category">
      <div class="categories-image">
        <img src="/imgtest.webp" alt="" />
      </div>
      <div class="title-category">
        <h2>Categoria1</h2>
      </div>
    </a>
    <a href="#" id="category3" class="category">
      <div class="categories-image">
        <img src="/imgtest.webp" alt="" />
      </div>
      <div class="title-category">
        <h2>Categoria1</h2>
      </div>
    </a>
    <a href="#" id="category4" class="category">
      <div class="categories-image">
        <img src="/imgtest.webp" alt="" />
      </div>
      <div class="title-category">
        <h2>Categoria1</h2>
      </div>
    </a>
    <a href="#" id="category5" class="category">
      <div class="categories-image">
        <img src="/imgtest.webp" alt="" />
      </div>
      <div class="title-category">
        <h2>Categoria1</h2>
      </div>
    </a>
  </div>
</div>
