<div class="card-product">
  <div class="product-card-image">
    <img [src]="producto.image" />
    <!-- imagen del producto-->
    <button>
      <i> <img src="/cart-shopping.svg" alt="" /></i>
      <!-- icono de carrito-->
    </button>
    <!-- boton para carrito-->
  </div>
  <div class="card-info">
    <div>
      <p>{{producto.categoria.name}}</p>
    </div>
    <!-- nombre de la categoria-->
    <div>
      <h1>{{producto.nombre}}</h1>
    </div>
    <!-- nombre del producto-->
    <div>
      <p>{{producto.descripcionOne}}</p>
    </div>
    <!-- descripcion-->
    <div>
      <span>{{producto.precio}}</span>
    </div>
    <!-- precio -->
  </div>
</div>
